<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harleycorp.dao.LikeCommentMapper" >
  <resultMap id="BaseResultMap" type="com.harleycorp.pojo.LikeComment" >
    <id column="_id" property="id" jdbcType="INTEGER" />
    <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    _id, comment_content, time, userid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from like_comment
    where _id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 查询某个用户点赞数目 -->
  <select id="selectDZCountByuserid" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(*) from like_comment where userid = #{userid,jdbcType=INTEGER}
  </select>
  <!--某用户首次点赞的评论  -->
  <select id="selectFirstLikePLUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from like_comment 
    where userid = #{userid,jdbcType=INTEGER} 
    ORDER BY time LIMIT 0,1
  </select>   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from like_comment
    where _id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.harleycorp.pojo.LikeComment" >
    insert into like_comment (_id, comment_content, time, 
      userid)
    values (#{id,jdbcType=INTEGER}, #{commentContent,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.harleycorp.pojo.LikeComment" >
    insert into like_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        _id,
      </if>
      <if test="commentContent != null" >
        comment_content,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="userid != null" >
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null" >
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.harleycorp.pojo.LikeComment" >
    update like_comment
    <set >
      <if test="commentContent != null" >
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where _id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harleycorp.pojo.LikeComment" >
    update like_comment
    set comment_content = #{commentContent,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER}
    where _id = #{id,jdbcType=INTEGER}
  </update>
</mapper>